<section class="parthers">
  <div class="container parthers__container flex">
    <h2 class="parthers__title">Parthers</h2>
    <ul class="parthers__list list-reset">
      <li class="parthers__item">
        <a class="parthers__link" href="#" target="_blank">
          <img class="parthers__logo" src="img/pathers-1.jpg" alt="Reform logo" width="160" height="67" loading="lazy">
        </a>
      </li>
      <li class="parthers__item">
        <a class="parthers__link" href="#" target="_blank">
          <img class="parthers__logo" src="img/pathers-2.jpg" alt="Schmidt logo" width="160" height="67" loading="lazy">
        </a>
      </li>
      <li class="parthers__item">
        <a class="parthers__link" href="#" target="_blank">
          <img class="parthers__logo" src="img/pathers-3.jpg" alt="Right logo" width="160" height="67" loading="lazy">
        </a>
      </li>
      <li class="parthers__item">
        <a class="parthers__link" href="#" target="_blank">
          <img class="parthers__logo" src="img/pathers-4.jpg" alt="Mozilla logo" width="160" height="67" loading="lazy">
        </a>
      </li>
      <li class="parthers__item">
        <a class="parthers__link" href="#" target="_blank">
          <img class="parthers__logo" src="img/pathers-5.jpg" alt="Aclu logo" width="160" height="67" loading="lazy">
        </a>
      </li>
      <li class="parthers__item">
        <a class="parthers__link" href="#" target="_blank">
          <img class="parthers__logo" src="img/pathers-6.jpg" alt="Y logo" width="160" height="67" loading="lazy">
        </a>
      </li>
    </ul>
    <a class="parthers__more" href="#">See All</a>
  </div>
</section>
